<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player">

    <uses-feature android:glEsVersion="0x00020000" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch.distinct"
        android:required="false" />

    <application>
        <activity
            android:name=".MainMenuLoggedIn"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".LoginSignUp"
            android:exported="false" />
        <activity
            android:name=".MainMenu"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UnityPlayerActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:parentActivityName=".MainMenu"
            android:screenOrientation="fullSensor"
            android:theme="@style/UnityThemeSelector">
            <meta-data
                android:name="unityplayer.UnityActivity"
                android:value="true" />
            <meta-data
                android:name="android.notch_support"
                android:value="true" />
            <meta-data
                android:name="unity.splash-mode"
                android:value="0" />
            <meta-data
                android:name="unity.splash-enable"
                android:value="True" />
            <meta-data
                android:name="unity.allow-resizable-window"
                android:value="False" />
            <meta-data
                android:name="notch.config"
                android:value="portrait|landscape" />
            <meta-data
                android:name="unity.build-id"
                android:value="07e201d5-86d5-414a-a169-c2d5055396f6" />
            <meta-data
                android:name="com.google.ar.core"
                android:value="optional" />
        </activity>
    </application>

</manifest>